<p-menubar>
  <ng-template pTemplate="start">
    <a routerLink="/" [style]="{'color': 'inherit'}" class="cursor-pointer">
      <i class="pi pi-caret-right text-xl">Message Board</i>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <button *ngIf="!user" pButton label="Entrar" icon="pi pi-sign-in" (click)="loginRedirect()"></button>
    <div *ngIf="user" class="flex gap-4 align-items-center">
      <a routerLink="users/user/{{user._id}}" class="cursor-pointer text-primary">{{ user.firstName }} {{ user.lastName }}</a>
      <button pButton label="Sair" icon="pi pi-sign-out" (click)="signOut()"></button>
    </div>
  </ng-template>
</p-menubar>
