#message-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: black;
}

.message-box:link{
  text-decoration: none;
}

.message-box:visited {
  text-decoration: none;
}

.message-box:hover {
  text-decoration: none;
}

.message-box:active {
  text-decoration: none;
}

.message-header {
  display: flex;
}

.message-date {
  font-size: 12px;
  align-self: flex-end;
  padding-right: 15px;
}

.message-user {
  padding-top: 5px;
}